.swiper-pagination-bullet {
    width: auto;
    opacity: 1;
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    background-color: #4361EE;
}


.swiper-pagination-bullet.testimonials{
    width: auto;
    opacity: 1;
    background-color: #aaa;
}

.swiper-pagination-bullet-active.testimonials {
    background-color: #2B2B2B;
}

.swipper-arrows-next,
.swipper-arrows-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.next {
    left: auto;
    right: 10px;
}

.prev {
    left: 10px;
    right: auto;
}